h2 {
 color: green;
 width: 300px;
 height: 50px; 
 border: 1px solid black;
}


#h21 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 150px; left: 15px;
}

#h22 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 250px; left: 375px;
}

#h23 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 800px; left: 15px;
}

#h24 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 900px; left: 375px;
}


#bg {
 width: 900px; height: 80px;  background-color: grey;
font: calibri;
font-size: 40px;
font-color: brown;
}

p { 
 width: 300px; 
 height: 500px;
 border: 1px solid black; 
 margin-bottom: 15px;
}

#p1 {
 background-color: yellow;
 position: absolute; 
 top: 200px; left: 15px;
}

#p2 {
 background-color: green;
 position: absolute; 
 top: 300px; left: 375px;
}

#p3 { 
 background-color: blue;
 position: absolute;
 top: 850px; left: 15px;
}

#p4 {
 background-color: red;
 position: absolute; 
 top: 950px; left: 375px;
}
