h2 {
 color: green;
 width: 300px;
 height: 50px; 
 text-align: right; 
 border: 1px solid black;
}


#h21 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 150px; left: 25px;
}

#h22 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 250px; left: 385px;
}

#h23 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 800px; left:25px;
}

#h24 {
 background-color: #BB2A2A;
 position: absolute; 
 top: 900px; left: 385px;
}


h1 {
 width: 900px; height: 80px;  background-color: grey;
font: calibri;
font-size: 40px;
font-color: brown;
text-align: center;
margin-bottom: 40px;
}

p { 
 width: 320px; 
 height: 510px;
 border: 1px solid black; 
 padding: 1px grey;
 margin-bottom: 15px;
}

#p1 {
 background-color: yellow;
 position: absolute; 
 top: 200px; left: 15px;
}

#p2 {
 background-color: green;
 position: absolute; 
 top: 300px; left: 375px;
}

#p3 { 
 background-color: cyan;
 position: absolute;
 top: 850px; left: 15px;
}

#p4 {
 background-color: pink;
 position: absolute; 
 top: 950px; left: 375px;
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px)
#p1 {
    width: 80%;
    height: 80%;
  }
#p2 {
    width: 80%;
    height: 80%;
  }
#p3 {
    width: 80%;
    height: 80%;
  }
#p4 {
    width: 80%;
    height: 80%;
  }
#h21 {
    width: 80%;
    height: 80%;
  }
#h22 {
    width: 80%;
    height: 80%;
  }
#h23 {
    width: 80%;
    height: 80%;
  }
#h24 {
    width: 80%;
    height: 80%;
  }
#bg  {
    width: 80%;
    height: 80%;
  }


/********** Small devices only **********/
@media (max-width: 767px) 
#p1 {
    width: 50%;
    height: 50%;
  }
#p2 {
    width: 50%;
    height: 50%;
  }
#p3 {
    width: 50%;
    height: 50%;
  }
#p4 {
    width: 50%;
    height: 50%;
  }
#h21 {
    width: 50%;
    height: 50%;
  }
#h22 {
    width: 50%;
    height: 50%;
  }
#h23 {
    width: 50%;
    height: 50%;
  }
#h24 {
    width: 50%;
    height: 50%;
  }
#bg  {
    width: 50%;
    height: 50%;
  }
